body{
    background: rgba(250, 194, 132, 0.45);
    margin: 20px;
}

form{
    margin-top: 20px;
    margin: 0 auto;
    width: 60%;
}

table{
    width: 100%;
    background: white;
}

th{
    text-transform: uppercase;
    font-size: 0.9em;
}

td,th{
    height: 35px;
    padding: 0.9em 0.5em 0.8em 1.8em;
}

td{
    color: rgb(90, 89, 89);
}

input{
    margin-left: 10px;
}

tr{
    border-bottom: solid rgb(243, 243, 243) 1px;
}


.btn{
    font-size: 12px;
    height: 40px;
    width: 130px;
    margin: 1em 20em;
    background-color: rgb(95, 95, 95);
    font-size: 0.85em;
}

h4{
    width: 300px;
    margin: 1em auto;
}

.sn{
    width: 100px;
}

.enroll{
    width: 185px;
}

.name{
    width: 300px;
}

.batch{
    width: 150px;
}

.mark{
    background: white;
    width: 100px;
}

